{% extends "Layout.twig" %}

{% block body %}
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Alterar Senha</div>
        <div class="card-body">
            <div id="div_retorno"></div>
          <form id="formAltera" method="POST">
            <div class="form-group">
                <label for="senhaantiga">Senha Antiga</label>
              <div class="form-label-group">
                
                <input type="password" id="senhaantiga" name="senhaantiga" class="form-control" required="required">
              </div>
            </div>
              <div class="form-group">
                   <label for="novasenha">Nova senha</label>
              <div class="form-label-group">
               
                <input type="password" id="novasenha" name="novasenha" class="form-control"  required="required">
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                     <label for="confsenha">Confirmar senha</label>
                  <div class="form-label-group">
                     
                    <input type="password" id="confsenha" name="confsenha" class="form-control"  required="required">
                  </div>
                </div>
            </div>
        </div>
                          <input id="bnt" class="btn btn-primary btn-block" type="submit" value="Alterar senha">
          </form>
      </div>

 {% endblock %} 