{% extends "Layout.twig" %}  
{% block body %}

    <div class="container"> 

        <form class="needs-validation" novalidate="" action="/cliente/update" method="POST">
            <div class="row">
                <div class="col-md-6 mb-3"> <label for="firstName">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="" value="{{dados.cli_nome}}" name="nome" required="">
                    <div class="invalid-feedback"> Nome é obrigatório. </div>
                    
                </div>
                <div class="col-md-6 mb-3"> <label for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="sobrenome" placeholder="" value="{{dados.cli_sobrenome}}" name="sobrenome" required="">
                    <div class="invalid-feedback"> Sobrenome é obrigatório. </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3"> <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" value="{{dados.cli_cpf}}" placeholder="" required="">
                    <div class="invalid-feedback"> CPF é obrigatório. </div>
                </div>
                <div class="col-md-3 mb-3"> <label for="data">Data de Nascimento</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" id="data" name="data" value="{{dados.cli_datanasc}}" placeholder="" required="">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="mb-3"> <label for="email">E-mail</label>
                <div class="input-group">
                    <div class="input-group-prepend"> <span class="input-group-text">@</span> </div>
                    <input type="text" class="form-control" id="username" name="email" value="{{dados.cli_email}}" required="">
                    <div class="invalid-feedback" style="width: 100%;"> E-mail é obrigatório. </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 mb-3"> <label for="ddd">DDD</label>
                    <input type="text" class="form-control" id="ddd" name="ddd" placeholder="" value="{{dados.cli_ddd}}" required="">
                    <div class="invalid-feedback"> DDD é obrigatório. </div>
                </div>
                <div class="col-md-3 mb-3"> <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone"  name="telefone" placeholder="" value="{{dados.cli_telefone}}" required="">
                    <div class="invalid-feedback"> Telefone é obrigatório. </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 mb-3"> <label for="logradouro">Endereço</label>
                    <input type="text" class="form-control" id="logradouro" name="logradouro" placeholder="" value="{{dados.cli_rua}}" required="">
                    <div class="invalid-feedback"> Endereço é obrigatório. </div>
                </div>
                <div class="col-md-2 mb-3"> <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" name="numero" placeholder="" value="{{dados.cli_numero}}" required="">
                    <div class="invalid-feedback"> Número é obrigatório. </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3"> <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" value="{{dados.cli_bairro}}" placeholder="" required="">
                    <div class="invalid-feedback"> Bairro é obrigatório. </div>
                </div>
                <div class="col-md-3 mb-3"> <label for="cep">CEP</label>
                    <input type="text" class="form-control" id="cep" name="cep" placeholder="" value="{{dados.cli_cep}}" required="">
                    <div class="invalid-feedback"> Data de Nascimento é obrigatório. </div>
                </div>
                <div class="col-md-5 mb-3"> <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" placeholder="" value="{{dados.cli_complemento}}" name="complemento" required="">
                    <div class="invalid-feedback"> Complemento é obrigatório. </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3"> <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" name="cidade" value="{{dados.cli_cidade}}" placeholder="" required="">
                    <div class="invalid-feedback"> Cidade é obrigatório. </div>
                </div>
                <div class="col-md-5 mb-3" > <label for="estado">Estado</label> <select class="custom-select d-block w-100" id="estado" name="estado" required="">
                        <option value="{{dados.cli_estado}}">{{dados.cli_estado}}</option>
                        <option value="0">-- Selecione seu Estado --</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                    <div class="invalid-feedback"> Por favor selecione um estado válido!. </div>
                </div>
            </div>
            <input class="btn btn-primary btn-md btn-block" type="submit" value='Atualizar'>
        </form>

    </div>

{% endblock %}


