{% extends "Layout.twig" %}  
{% block body %}

    <body>

        <div class="container">
            <div class="row">  
                <form action="/produto/update" method="POST" >

                    <fieldset>
                        <legend>
                            Atualizar Produto
                        </legend>
                        <div class="form-group col-md-2">
                            
                            <input type="hidden" id="id" name="id" value="{{produto.prod_id}}" >
                        </div>
                        <div class="form-group col-md-2">
                            <label for="nome">Nome</label>
                            <input type="text" id="nome" name="nome" value="{{produto.prod_nome}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="siape">Preço</label>
                            <input type="text" id="preco" name="preco" value="{{produto.prod_preco}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="siape">Descrição</label>
                            <input type="text" id="descricao" name="descricao" value="{{produto.descricao}}">
                        </div>
                    </fieldset>
                    <input id="bnt" type="submit" value="Atualizar">

                </form>
            </div>
        </div>
    </body>



{% endblock %}

