{% extends "Layout.twig" %}

{% block body %} 

          <div class="card card-register mx-auto mt-5">
        <div class="card-header">Criar uma Conta</div>
        <div class="card-body">
            <div id="div_retorno"></div>
          <form id="formRegister" method="POST">
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuário" required="required">
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="password" id="confirsenha" name="confirsenha" class="form-control" placeholder="Confirmar senha" required="required">
                
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                        <select class= "form-control" name="tipo" id="tipo">
                            <option value="0"> -- Tipo de Usuário -- </option> 
                            <option value="1">Administrador</option>
                            <option value="2">Funcionário</option>
                        </select> 
              </div>
            </div>
            <input id="bnt" class="btn btn-primary btn-block" type="submit" value="Cadastrar Usuário">
          </form>
        </div>
      </div>

{% endblock %}