{% extends "Layout.twig" %}  
{% block body %}

    <div class="container">
        <div class="row">  
            <form action="/produto/insert" method="POST" >

                <fieldset>
                    <legend>
                        Informe os dados
                    </legend>
                    <div class="form-group col-md-3">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="siape">Preço</label>
                        <input type="text" id="preco" name="preco">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="siape">Descrição</label>
                        <input type="text" id="descricao" name="descricao">
                    </div>
                </fieldset>
                <input id="bnt" type="submit" value="Cadastrar">

            </form>
        </div>
    </div>

{% endblock %}
