{% extends "Layout.twig" %}  
{% block body %}

    <div class="container">
        <div class="row">  
            <form action="/mesa/insert" method="POST" >

                <fieldset>
                    <legend>
                        Informe os dados
                    </legend>
                    <div class="form-group col-md-3">
                        <label for="numesa">Nº Mesa</label>
                        <input type="text" id="numesa" name="numesa">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="pessoas">Qtd. Pessoas</label>
                        <input type="text" id="pessoas" name="pessoas">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="disponivel">Disponível</label>
                        <input type="checkbox" id="disponivel" value="Sim" name="disponivel">
                    </div>
                </fieldset>
                <input id="bnt" type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
{% endblock %}
