{% extends "Layout.twig" %}
{% block body %} 
    <div class="row text-center text-lg-left">
        {% for comanda in dados %}
            
            <div class="col-lg-3 col-md-4 col-xs-6">
                
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                {{comanda.cmd_id}}

                <a  href="/comanda/{{comanda.cmd_id}}">AdicionarItens</a>
                <a  href="/comanda/detalhes/{{comanda.cmd_id}}">VerDetalhes</a>
                <a  href="/checkout/{{comanda.cmd_id}}">FecharComanda</a>

            </div>
        {% endfor %}
    </div>

{% endblock %}


