{% extends "Layout.twig" %}

{% block title %}Listar Produtos - HappyHour{% endblock %} 
{% block body %} 
    <div class="container"> <div class="row">
            {% block name %}Detalhes comanda{% endblock %}
        </div>

        <div class="row">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Preço unitário (R$)</th>
                        <th>Subtotal (R$)</th>
                    </tr>
                </thead>
                <tbody>

                    {% if dados|length > 1 %}

                        {% for produto in dados %}
                            <tr>
                                <td>{{produto.prod_id}}</td> 
                                <td>{{produto.prod_nome}}</td> 
                                <td>{{produto.cmd_prod_quant}}</td> 
                                <td>{{produto.prod_preco}}</td> 
                                <td>{{produto.total}}</td> 
                              </tr>
                          
                        {% endfor %}
                        <tr>
                                 <td></td> 
                                <td></td> 
                                <td></td> 
                                <td>Total:</td> 
                                <td>{{total.total}}</td> 
                        </tr>
                        

                    {% else %}
                      <tr>
                                <td>{{produto.prod_id}}</td> 
                                <td>{{produto.prod_nome}}</td> 
                                <td>{{produto.cmd_prod_quant}}</td> 
                                <td>{{produto.prod_preco}}</td> 
                                <td>{{produto.total}}</td> 
                      </tr>
                         <tr>
                                 <td></td> 
                                <td></td> 
                                <td></td> 
                                <td>Total:</td> 
                                <td>{{total.total}}</td> 
                        </tr>
                    {% endif %}
                </tbody>
            </table>
                <a class="btn btn-sm btn-success" href="/checkout/{{id}}">Fechar comanda</a>
        </div>
    </div> 

{% endblock %}