{% extends "Layout.twig" %}

{% block body %}
  

        <div class="row">
         <h1 style="text-align:center;"> Relatório de Vendas </h1>   
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                        {% for produto in dados %}
                            <tr>
                                <td>{{produto.cmd_data}}</td> 
                                <td>{{produto.cmd_total}}</td> 
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
 {% endblock %} 
