{% extends "Layout.twig" %}
{% block title %}Exibir Cliente - HappyHour{% endblock %} 

{% block body %} 

    <ul>CPF  - {{dados.cli_cpf}} </ul>
    <ul>NOME  - {{dados.cli_nome}} </ul>
    <ul>SOBRENOME  - {{dados.cli_sobrenome}} </ul>
    <ul>DATA  - {{dados.cli_datanasc}} </ul>
    <ul>DDD  - {{dados.cli_ddd}} </ul>
    <ul>TELEFONE  - {{dados.cli_telefone}} </ul>
    <ul>E-MAIL  - {{dados.cli_email}} </ul>
    <ul>LOGRADOURO  - {{dados.cli_rua}} </ul>
    <ul>NUMERO  - {{dados.cli_numero}} </ul>
    <ul>CEP  - {{dados.cli_cep}} </ul>
    <ul>BAIRRO  - {{dados.cli_bairro}} </ul>
    <ul>COMPLEMENTO  - {{dados.cli_complemento}} </ul>
    <ul>CIDADE  - {{dados.cli_cidade}} </ul>
    <ul>ESTADO  - {{dados.cli_estado}} </ul>

{% endblock %} 
