{% extends "Layout.twig" %}
{% block title %}Exibir Mesa - HappyHour{% endblock %} 

{% block body %} 

    <ul>Nº MESA  - {{dados.mes_id}} </ul>
    <ul>QTD. CADEIRAS  - {{dados.mes_quantCadeira}} </ul>
    <ul>DISPONIVEL  - {{mes_disponivel}} </ul>

{% endblock %} 
