{% extends "Layout.twig" %}  

{% block body %} 


    <div class="row">
        <div class="col-md-3 mb-3"> <label for="mesa">Mesa</label>
            <input type="text" class="form-control" id="mesa" name="mesa" value="{{dados.Mesa_mes_id}}" disabled="true">
        </div>
        <div class="col-md-3 mb-3"> <label for="comanda">Comanda</label>
            <input type="text" class="form-control" id="comanda" name="comanda" value="{{dados.cmd_id}}" disabled="true">
        </div>
        <div class="col-md-3 mb-3"> <label for="data">Data</label>
            <input type="text" class="form-control" id="data" name="data" value="{{dados.cmd_data}}" disabled="true">
        </div>
        <div class="col-md-3 mb-3"> <label for="valor">Valor (R$)</label>
            <input type="text" class="form-control" id="valor" name="valor" value="{{dados.cmd_total}}"  disabled="true">
        </div>  
    </div>

    <section id="tabs">
        <div class="container">
            <h1>Formas de Pagamento</h1>
            <div class="row">
                <div class="col-md-10 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Dinheiro</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Boleto</a>

                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                            <div class="div_retorno"></div>
                            <form action="/calcular" method="POST">
                                <div id="saida" class="row">

                                    <div class="form col-md-3">

                                        <label for="valorInfo">Informe o valor (R$)</label>
                                        <input type="text" name="valorInfo" class="form-control" id="valorInfo">
                                        <input type="hidden" name="total" id="total" value="{{dados.cmd_total}}">
                                        <input type="hidden" class="form-control" id="comanda" name="comanda" value="{{dados.cmd_id}}">
                                    </div>
                                    <div class="form-group col-md-2">
                                        
                                        <br><input type="submit" class="form-control"  value="Pagar">
                                    </div>
                                </div>
                            </form>



                            <div class="row">
                                <div id="divtroco" class="col-md-3 mb-3"> <label for="troco">Troco (R$)</label>
                                    <input type="text" class="form-control" name="troco" value="{{troco}}" id="troco" disabled="true">
                                </div>  
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                            <form action="/boleto" method="POST">
                                <fieldset>

                                    <div class="row">
                                        <div class="form col-md-3">
                                            <label for="valor">Informe o CPF: </label>
                                            <input type="text" class="form-control" name="cpf" >
                                            <input type="hidden" class="form-control" name="valor" value="{{dados.cmd_total}}">
                                            <input type="hidden" class="form-control"  name="comanda" value="{{dados.cmd_id}}">
                                            
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label></label>
                                            <input type="submit" class="form-control" value="Buscar">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                           
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}