{% extends "Layout.twig" %}

{% block body %}
    
     <div class="container"> <div class="row">
            {% block name %}Detalhes comanda{% endblock %}
        </div>
    <div class="row">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                
                        <th>Preço(R$)</th>
                         <th>Quantidade</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>

                    {% if dados|length > 1 %}

                        {% for produto in dados %}
                            <tr>
                                <td>{{produto.prod_id}}</td> 
                                <td>{{produto.prod_nome}}</td> 
                                <td>{{produto.prod_preco}}</td>
                                <form action="/comandas/insert" method="POST" >
                                <input type="hidden" name="produto" value="{{produto.prod_id}}">
                                <input type="hidden" name="comanda" value="{{id}}">
                                <td><input type="number" name="quantidade"  step="1" value="0"></td>  
                                <td><input id="bnt" type="submit" value="Adicionar"></td> 
                                </form>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td>{{dados.prod_id}}</td> 
                            <td>{{dados.prod_nome}}</td> 
                            <td>{{dados.prod_preco}}</td>    
                            <form action="/comandas/insert" method="POST" >
                            <input type="hidden" name="produto" value="{{produto.prod_id}}">
                            <input type="hidden" name="comanda" value="{{id}}">
                            <td><input type="number" name="quantidade"  step="1" value="0"></td>  
                            <td><input id="bnt" type="submit" value="Adicionar"></td>  
                            </form>
                        </tr>
                    {% endif %}


                </tbody>
            </table>
        </div>
     </div>

 {% endblock %}  