{% extends "Layout.twig" %}

{% block body %} 
    {% block name %}Mesas{% endblock %}
    <div class="row text-center text-lg-left">
        {% for mesa in dados %}
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                    {{mesa.mes_id}}       
                </a>
                <a  href="/mesa/novacomanda/{{mesa.mes_id}}">CriarComanda</a>
                <a  href="/mesa/comandas/{{mesa.mes_id}}">VerComanda</a>
            </div>
        {% endfor %}
    </div>
{% endblock %} 

