{% extends "Layout.twig" %}

{% block body %}

    <div class="container"> <div class="row">
            {% block name %}Listar clientes{% endblock %}
        </div>

        <form action="/cliente/pesquisar" method="POST">
            <fieldset>

                <div class="row">
                    <div class="form col-md-3">
                        <label for="valor">Informe o CPF: </label>
                        <input type="text" class="form-control" name="cpf" >
                        </div>
                    <div class="form-group col-md-2">
                        <label></label>
                        <input type="submit" class="form-control" value="Buscar">
                    </div>
                </div>
            </fieldset>
        </form>


        <div class="row">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>E-mail</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{dados.cli_cpf}}</td> 
                        <td>{{dados.cli_nome}}</td> 
                        <td>{{dados.cli_datanasc}}</td> 
                        <td>{{dados.cli_email}}</td> 
                        <td><a class="btn btn-sm btn-success" href="/cliente/search/{{dados.cli_cpf}}">Atualizar</a> <a  class="btn btn-sm btn-danger" href="/cliente/remove/{{dados.cli_cpf}}">Danger</a></td>       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>                

{% endblock %}