{% extends "Layout.twig" %}

{% block title %}Listar Produtos - HappyHour{% endblock %} 
{% block body %} 
    <div class="container"> <div class="row">
            {% block name %}Listar produto{% endblock %}
        </div>

        <div class="row">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço(R$)</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>

                    {% if dados|length > 1 %}

                        {% for produto in dados %}
                            <tr>
                                <td>{{produto.prod_id}}</td> 
                                <td>{{produto.prod_nome}}</td> 
                                <td>{{produto.descricao}}</td> 
                                <td>{{produto.prod_preco}}</td> 
                                <td><a class="btn btn-sm btn-success" href="/produto/atualizar/{{produto.prod_id}}">Atualizar</a></td>       
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td>{{dados.prod_id}}</td> 
                            <td>{{dados.prod_nome}}</td> 
                            <td>{{dados.descricao}}</td>
                            <td>{{dados.prod_preco}}</td> 
                            <td><a class="btn btn-sm btn-success" href="/produto/atualizar/{{dados.prod_id}}">Atualizar</a></td>       
                        </tr>
                    {% endif %}


                </tbody>
            </table>
        </div>
    </div> 

{% endblock %}