{% extends "Layout.twig" %}
{% block name %}Gerar relatório{% endblock %} 
{% block body %}

    <div class="row">
        <form action="/relatorio/show" method="POST" >
        <div class="col-md-12 mb-3">
            <label for="datain">Data início</label>
            <div class="input-group date" data-provide="datepicker" >
                <input type="text" name="datain" class="form-control" id="datain" name="datain">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <div class=" col-md-12 mb-3">
            <label for="datafim">Data fim</label>
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" name="datafim" id="datafim">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
                
            </div>
        </div>
        <div class=" col-md-6 mb-3">

            <br><input type="submit" class="form-control"  value="Gerar">
        </div>
        </form>
    </div>

    
    
    <script type="text/javascript">
			$('#datain').datepicker({	
				format: "dd/mm/yyyy",	
				language: "pt-BR",
				startDate: '+0d',
			});
                        
                        	$('#datafim').datepicker({	
				format: "dd/mm/yyyy",	
				language: "pt-BR",
				startDate: '+0d',
			});
    </script>

{% endblock %} 






